<h2>Blog options</h2>

<div class="form form-group">
  <form {{action 'editBlog' on='submit'}} class="form-group">
    {{blog-form authorName=model.author title=model.name description=model.description}}
  </form>
</div>

<button class="btn btn-success btn-sm" {{action 'createPost' }}>Add post</button>

<h2>Blog posts</h2>
