
<div class="form-horizontal">
  <div>Your name: {{input value=authorName}}</div>
  <div>Blog name: {{input value=title}}</div>
  <div>Description: {{textarea value=description}}</div>
  <div><button {{action 'createBlog'}}>Add new blog</button></div>
</div>