<div class="row">
  <div class="col-sm-4">
    <div class="form form-group">
      <form {{action 'createBlog' on='submit'}} class="form-group">
        {{blog-form}}
      </form>
    </div>

    <h2>All blogs</h2>
    {{#each model as |blog|}}
      {{blog-list blog=blog}}
    {{/each}}
  </div>
  <div class="col-sm-8">
    {{outlet}}
  </div>
</div>
