<div class="row">
  <div class="col-sm-4">
    <div class="form form-group">
      <h2>Create post</h2>
      <form {{action 'createPost' on='submit'}} class="form-group">
        {{partial 'posts/post-form'}}
      </form>
    </div>

    <h2>All posts</h2>
    {{#each model as |post|}}
      {{post-list post=post}}
    {{/each}}
  </div>
  <div class="col-sm-8">
    {{outlet}}
  </div>
</div>
